<div class="modal fade bd-example-modal-lg" id='import-not-did' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aucun import effectué aujourd'hui</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h3>Aucun membre de votre équipe n'a fait d'import de fichier aujourd'hui. Veuillez faire le necessaire.</h3>
      </div>
    </div>
  </div>
</div>