<div class="modal fade" id="modalProgress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div id="popupNouveauMessage" class="modal-content">
            <div class="modal-header" style="padding: 30px 30px 0px; color:#1d3399; border-radius: 10px; border: none !important;">
                <h4 class="modal-title modal-titleh1" id="myModalLabel">Importation des données</h4>
            </div>
            <div class="modal-body">
                <h4>GTA</h4>
                <div class="myProgress">
                    <div id="myBarGTA"></div>
                </div>
                <h4>DGD</h4>
                <div class="myProgress">
                    <div id="myBarDGD"></div>
                </div>
                <h4>PASSENGER</h4>
                <div class="myProgress">
                    <div id="myBarOT"></div>
                </div>
            </div>
        </div>
    </div>
</div> 