{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}

</style>
{% endblock %}
{% block header %}
    <h1>Dashboard</h1>
{% endblock %}

{% block content %}
            
           
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    
    </script>
{% endblock %}
