<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        <a href="{{path('velirano_admin_homepage')}}">Velirano Admin</a>
                </li>
                <li>
                    <a href="{{path('velirano_list')}}">Vlirano</a>
                </li>
                <li>
                    <a href="#">Utilisateur</a>
                </li>
            </ul>
        </div>