<div class="inner animated bounceInRight go">
    <ul class="features">
        <li>
            <span class="icon major solid fa-leaf"></span>
            <h4>100% Raphia naturel</h4>
            <p>Utilisation de fibres végétales 100% naturelles issues de feuilles de Raphia. </p>
        </li>
        <li>
            <span class="icon major solid fal fa-clipboard-check"></span>
            <h4>Norme de fabrication</h4>
            <p>Chaque article suit un procédé de fabrication répondant à des normes strictes </p>
        </li>
        <li>
            <span class="icon major solid fa-award"></span>
            <h4>Finition de gamme</h4>
            <p>Tous les accessoires sont confectionnés avec minutie pour un résultat impeccable au niveau des finitions.</p>
        </li>
        <li>
            <span class="icon major solid fa-sign-language"></span>
            <h4>Produit fait main 100%</h4>
            <p>Produits faits entièrement à la main  par des artisans à Madagascar.</p>
        </li>
    </ul>
</div>