{% extends 'base_front.html.twig' %}

{% block body %}
    <!-- Navigation -->
    {# <div>
       <h1> Site en construction </h1>
       <a href="{{path('produit_details',{'id':1})}}">details produit</a>
    </div> #}
    {{parent()}}
    
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}
