<div class="row" style="justify-content:center;margin-top:30px;">

    {# {% set reste = 0 %}

    {% if produits|length % 6 == 0 %}
        {% set nbLigne = produits|length / 6 %}
        {% include 'front/produit/_listMazava.html.twig' %}
    {% else %}
        {% set reste = produits|length % 6 %}
        {% include 'front/produit/_listMazava.html.twig' %}
    {% endif %} #}
{% for k,p in produits %}
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding-left:10px !important">
 <div class="content-image effect5 animated bounceInRight slowest">
    <img src= "{{ asset(p.imageEnAvant.webPath ~ p.imageEnAvant.photo) }}">
     <a href="{{path('produit_details',{'id':p.id})}}">
    <div class="info">
        <h3>{{p.titre}}</h3>
        <i class="fa fa-eye fa-2x"></i>
    </div>
    </a>
 </div> 
</div>  
{% endfor %}

</div>